.signupPage {
  width: 100vw;
  display: grid;
  place-items: center;
}

.signupForm {
  position: relative;
  top: -30px;
  width: 420px;
  padding: 5px;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1a1a2e;
  box-shadow: -6px -6px 25px 3px rgba(232, 229, 229, 0.07),
    15px 15px 20px 10px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.field {
  margin-bottom: 20px;
  position: relative;
  z-index: 0;
}

.fieldName {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  display: flex;
  align-items: center;
  color: #ffffff;
  line-height: 62px;
  position: relative;
  left: 5px;
}

.signupForm input {
  z-index: 1;
  background: #a381f7;
  width: 300px;
  height: 26px;
  box-shadow: -3px -3px 40px rgba(240, 230, 230, 0.1),
    4px 4px 40px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: 0.5px solid black;
  padding: 5px;
  font-size: 18px;
  color: rgb(18, 17, 44);
  font-weight: 500;
  font-family: Poppins;
  padding-left: 10px;
}

.field .MuiIconButton-root{
    margin-right: -45px;
    position: relative;
    right: 50px;
    top: -1px;
    color:black;
}

.signupForm input:focus {
  color: rgb(127, 255, 113);
  background: #3c315a;
  border-color:white;
}

.signupForm input:focus + .MuiIconButton-root{
    color: white;
}

.signupButton {
  height: 30px;
  font-size: 21px;
  font-family: Poppins;
  font-weight: 600;
  height: 40px;
  width: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6dbcdd;
  border: 2px solid black;
  border-radius: 12px;
  margin-top: 10px;
}
.signupButton img {
  width: 47px;
  height: 24px;
}

.googleSignupButton {
  background-color: #f1e46b;
  margin-bottom: 10px;
}

.loginText {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #fffcfc;
}

.loginText a {
  color: #6dbcdd;
  font-weight: 500;
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  .signupForm {
    height: 470px;
  }
  .field {
    margin-bottom: 15px;
  }
  .fieldName {
    font-size: 5.5vw;
    line-height: 40px;
  }
  .signupForm {
    width: 75vw;
  }
  .signupForm input {
    width: 55vw;
  }
  .signupButton {
    width: 58vw;
  }
}
@media only screen and (min-height: 750px) {
  .signupForm {
    top: 30px;
  }
}
