.weekCalendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 14%;
  position: relative;
  top: 20px;
}

.topbar {
  margin-bottom: 20px;
}

.allWeeks {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.weekCalendar .MuiButton-label {
  color: #eada76;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 24px;
  line-height: 60px;
  text-transform: none;
}

.allWeeks .MuiTouchRipple-root {
  color: rgba(255, 255, 255, 0.308);
}

.currentWeek{
  animation-name: fadeIn;
  animation-duration: 1s;
}

.currentWeek .MuiButton-label {
  color: #FDA5FF;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .topbar {
    margin-bottom: 1vw;
  }
  .weekCalendar .MuiButton-label {
    font-size: 4.6vw;
    margin: 0;
  }
  .allWeeks{
    position: relative;
    left: -13px;
  }
  .MuiButtonBase-root {
    height: 14vw;
  }
}
