.yearPicker .MuiSelect-root {
  font-family: Poppins !important;
  font-weight: 500 !important;
  font-size: 26px !important;
  color: #ffffff !important;
  position: relative !important;
  /* top: 7px !important; */
}

.yearPicker .MuiSvgIcon-root {
  color: white;
}

.yearPicker .MuiInput-underline::before,
.yearPicker .MuiInput-underline::after {
  border-bottom: none !important;
}

.MuiMenu-paper {
  max-height: 400px !important;
}

::-webkit-scrollbar {
  width: 0px !important;
}

@media only screen and (max-width: 600px) {
  .yearPicker .MuiSelect-root {
    top: 1vw !important;
  }
  .yearPicker .MuiSelect-root {
    font-size: 5.2vw !important;
  }
  .MuiMenu-paper{
      max-height: 300px !important;
  }
  .yearPicker .MuiMenuItem-root{
    min-height: 24px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  /* .MuiButtonBase-root{
    height: 9vw !important;
  } */
}
