.allTodosPage {
  display: flex;
}

body{
  overflow-x: hidden;
}

.allTodosPageEmpty {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time {
  font-family: Poppins;
  font-weight: 600;
  font-size: 30px;
  color: #fefefe;
  margin: 0px 25px 0px 25px;
}

.topbar {
  display: flex;
  align-items: center;
}

.topbar .MuiSvgIcon-root {
  width: 35px;
  height: 35px;
}

.mainTodos {
  display: flex;
  margin-top: 20px;
  width: 75%;
  justify-content: center;
}

.unfinishedTodos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  /* background-color: black; */
}

.finishedTodos {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  /* background-color: white; */
}

.unfinishedTodosList{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  /* margin-right: 40px; */
  width: 100%;
}

.finishedTodosList{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  /* margin-left: 40px; */
  width: 100%;
}

.noTodos {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 60px;
  color: #c6c4c4;
}

@media only screen and (max-width: 900px){
  .mainTodos{
    width: 95%;
  }
}

@media only screen and (max-width:600px){
  .mainTodos{
    flex-direction: column;
    align-items: center;
    /* background-color: white; */
  }
  .unfinishedTodos{
    width: 97%;
  }
  .finishedTodos{
    width: 97%;
  }

}

@media only screen and (max-width: 450px) {
  .time {
    font-size: 6vw;
  }
  .topbar .MuiSvgIcon-root {
    width: 7vw;
    height: 7vw;
  }
  .noTodos{
    font-size: 5.8vw;
  }
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
  /* background-clip: content-box;
      border: 5px solid transparent; */
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

::-webkit-scrollbar-button {
  display: none;
}