.allTodosPage {
  display: flex;
}

.allTodosPageEmpty {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toDisplay {
  font-family: Poppins;
  font-weight: 600;
  font-size: 30px;
  color: #fefefe;
  margin: 0px 25px 0px 25px;
}

.topbar {
  display: flex;
  align-items: center;
}

.topbar .MuiSvgIcon-root {
  width: 35px;
  height: 35px;
}

.mainTodos {
  display: flex;
  margin-top: 20px;
  /* background-color: white; */
  width: 75vw;
}

.unfinishedTodos {
  display: flex;
  flex-direction: column;
}

.finishedTodos {
  display: flex;
  flex-direction: column;
}

.noTodos {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 67px;
  color: #c6c4c4;
}

@media only screen and (max-width: 450px) {
  .toDisplay {
    font-size: 6vw;
  }
  .topbar .MuiSvgIcon-root {
    width: 7vw;
    height: 7vw;
  }
}
