.modalBackground {
  background-color: rgba(0, 0, 0, 0.692);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  display: grid;
  place-items: center;
}

.modal {
  background: #a7e498;
  border-radius: 20px;
  padding: 10px;
  width: 63%;
  height: 400px;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.modalTopbar {
  padding: 20px;
  display: flex;
  align-items: center;
}

#modalTaskName {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 32px;
  color: black;
  width: 70%;
  background: #a7e498;
  margin-left: 3%;
  margin-right: 7%;
}

#modalTaskName::placeholder {
  color: rgba(20, 20, 20, 0.39);
}

.MuiSelect-select {
  display: flex;
  align-items: center;
}

.modalButtons {
  display: flex;
  align-items: flex-start;
}

.modal hr {
  background-color: #25252546;
  border: 0.01px solid #25252546;
  width: 93%;
  margin: auto;
}

.modal .MuiSvgIcon-root {
  color: rgba(0, 0, 0, 0.692);
}

#modalTaskDesc {
  margin: 2% 5% 2% 5%;
  resize: none;
  height: 60%;
  width: 90%;
  background: #a7e498;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 28px;
  line-height: 46px;
  color: #5c3535;
}

#modalTaskDesc::placeholder {
  color: rgba(20, 20, 20, 0.39);
}

#modalPriorityButton svg {
  fill: red;
}

#prioritiesDropdown {
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 140px;
  padding: 30px;
  display: none;
}
#prioritiesDropdown span {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 15px;
  z-index: 4;
}

.eachPriority span {
  font-family: Ubuntu;
  font-weight: 400;
}

.MuiFormHelperText-root {
  font-family: Poppins !important;
  font-weight: 600 !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .modal {
    position: relative;
    /* left: 15px; */
    width: 85%;
  }
  .modalTopbar {
    padding: 10px;
  }
  .modalButtons {
    position: relative;
    top: 330px;
    left: 10px;
  }
  #modalTaskName {
    position: absolute;
    width: 80%;
    font-size: 6.8vw;
  }
  #modalTaskDesc {
    font-size: 5vw;
  }
}
.modal ::-webkit-scrollbar {
  width: 6px;
}

.modal ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 3px transparent;
}

.modal ::-webkit-scrollbar-thumb {
  /* background-clip: content-box;
      border: 5px solid transparent; */
  background-color: rgba(0, 0, 0, 0.562);
  border-radius: 20px;
}

.modal ::-webkit-scrollbar-button {
  display: none;
}
