.modalBackground {
  /* background-color: rgba(0, 0, 0, 0.692); */
  width: 105vw;
  height: 103vh;
  position: fixed;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.MuiSelect-root span {
  display: none;
}

.modal {
  background: #fff7f7;
  border-radius: 20px;
  padding: 10px;
  width: 35%;
  position: absolute;
  height: 50%;
  animation-name: slideUp;
  /* right: 30vw; */
  bottom: 1.5vw;
  animation-duration: 1s;
}

.removeModal {
  animation-name: slideDown;
  animation-duration: 1s;
}

.modalTopbar {
  padding: 10px;
  display: flex;
  align-items: center;
}

#modalTaskName {
  font-family: Poppins;
  font-weight: 500;
  font-size: 28px;
  color: black;
  width: 90%;
  background: #fff7f7;
  margin-left: 3%;
  margin-right: 7%;
}

#modalTaskName::placeholder {
  color: rgba(20, 20, 20, 0.39);
}

.MuiSelect-select {
  display: flex;
  align-items: center;
}

.modalButtons {
  display: flex;
  align-items: flex-start;
  margin-left: 20px;
}

.modal hr {
  background-color: #25252546;
  border: 0.01px solid #25252546;
  width: 93%;
  margin: auto;
}

.modal .MuiSvgIcon-root {
  color: rgba(0, 0, 0, 0.692);
}

#modalTaskDesc {
  margin: 2% 5% 2% 5%;
  resize: none;
  height: 60%;
  width: 90%;
  background: #fff7f7;
  font-family: Poppins;
  font-weight: 400;
  font-size: 25px;
  line-height: 46px;
  color: #5c3535;
}

#modalTaskDesc::placeholder {
  color: rgba(20, 20, 20, 0.39);
}

#modalPriorityButton svg {
  fill: red;
}

#prioritiesDropdown {
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 140px;
  padding: 30px;
  display: none;
}
#prioritiesDropdown span {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 15px;
  z-index: 4;
}

.eachPriority span {
  font-family: Ubuntu;
  font-weight: 400;
}

.MuiFormHelperText-root {
  font-family: Poppins !important;
  font-weight: 600 !important;
}

/* @keyframes slideIn {
  0% {
    right: -500px;
  }
  100% {
    right: 3vw;
  }
}

@keyframes slideOut {
  0% {
    right: 3vw;
  }
  100% {
    right: -500px;
  }
} */

@keyframes slideUp {
  0%{
    bottom: -100vw;
  } 
  100%{
    bottom: 1.5vw;
  }
}
@keyframes slideDown {
  0%{
    bottom: 1.5vw
  } 
  100%{
    bottom: -100vw
  }
}


/* @media only screen and (max-height: 550px){
  .modal{
    height: 80vh;
  }
} */

@media only screen and (max-width: 600px) {
  .modalBackground {
    justify-content: center;
  }
  .modal {
    width: 70%;
    bottom: 1.5vw;
    animation-name: slideUp;
    animation-duration: 1s;
    /* margin-right: 5%; */
  }
  .removeModal {
    animation-name: slideDown;
    animation-duration: 1s;
  }
  .modal hr {
    margin-top: 17px;
  }
  .modalTopbar {
    margin-top: 15px;
  }
  .modalButtons {
    position: relative;
    justify-content: flex-end;
    bottom: 10px;
  }
  #modalTaskName {
    position: absolute;
    /* width: 70%; */
    width: 80%;
    font-size: 5vw;
  }
  #modalTaskDesc {
    font-size: 4.8vw;
  }
  .MuiFormHelperText-root {
    font-size: 3vw !important;
  }
  .modal .MuiSvgIcon-root {
    height: 5vw !important;
    width: 5vw !important;
  }
}
/* .modal ::-webkit-scrollbar {
  width: 6px;
}

.modal ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 3px transparent;
}

.modal ::-webkit-scrollbar-thumb {
  background-clip: content-box;
      border: 5px solid transparent;
  background-color: rgba(0, 0, 0, 0.562);
  border-radius: 20px;
}

.modal ::-webkit-scrollbar-button {
  display: none;
} */
