.modalBackground {
  /* background-color: rgba(0, 0, 0, 0.692); */
  width: 105vw;
  height: 103vh;
  position: fixed;
  z-index: 5;
  display: flex;
  /* place-items: center; */
  flex-direction: row ;
  justify-content: end;
  align-items: center;
  top: 0;
  left: 0;
}

.MuiSelect-root span{
  display: none;
}

.modal {
  background: #FFF7F7;
  border-radius: 20px;
  padding: 10px;
  width: 35%;
  position: absolute;
  height: 400px;
  animation-name: slideIn;
  right: 50px;
  animation-duration: 1s;
}

.removeModal {
  animation-name: slideOut;
  animation-duration: 1s;
}

.modalTopbar {
  padding: 20px;
  display: flex;
  align-items: center;
}

#modalTaskName {
  font-family: Poppins;
  font-weight: 500;
  font-size: 32px;
  color: black;
  width: 70%;
  background: #FFF7F7;
  margin-left: 3%;
  margin-right: 7%;
}

#modalTaskName::placeholder {
  color: rgba(20, 20, 20, 0.39);
}

.MuiSelect-select {
  display: flex;
  align-items: center;
}

.modalButtons {
  display: flex;
  align-items: flex-start;
}

.modal hr {
  background-color: #25252546;
  border: 0.01px solid #25252546;
  width: 93%;
  margin: auto;
}

.modal .MuiSvgIcon-root {
  color: rgba(0, 0, 0, 0.692);
}

#modalTaskDesc {
  margin: 2% 5% 2% 5%;
  resize: none;
  height: 60%;
  width: 90%;
  background: #FFF7F7;
  font-family: Poppins;
  font-weight: 400;
  font-size: 28px;
  line-height: 46px;
  color: #5c3535;
}

#modalTaskDesc::placeholder {
  color: rgba(20, 20, 20, 0.39);
}

#modalPriorityButton svg {
  fill: red;
}

#prioritiesDropdown {
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 140px;
  padding: 30px;
  display: none;
}
#prioritiesDropdown span {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 15px;
  z-index: 4;
}

.eachPriority span {
  font-family: Ubuntu;
  font-weight: 400;
}

.MuiFormHelperText-root {
  font-family: Poppins !important;
  font-weight: 600 !important;
}

@keyframes slideIn {
  0% {
    right: -500px;
  }
  100% {
    right:50px;
  }
}

@keyframes slideOut{
  0%{
    right: 50px;
  }
  100%{
    right: -500px;
  }
}

@media only screen and (max-height: 550px){
  .modal{
    height: 80vh;
  }
}

@media only screen and (max-width: 600px) {
  .modal {
    width: 80%;
    margin-right: 5%;
  }
  .modalTopbar {
    padding: 10px;
  }
  .modalButtons {
    position: relative;
    top: 340px;
    left: 10px;
  }
  #modalTaskName {
    position: absolute;
    width: 70%;
    font-size: 6.8vw;
  }
  #modalTaskDesc {
    font-size: 5vw;
  }
}
/* .modal ::-webkit-scrollbar {
  width: 6px;
}

.modal ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 3px transparent;
}

.modal ::-webkit-scrollbar-thumb {
  background-clip: content-box;
      border: 5px solid transparent;
  background-color: rgba(0, 0, 0, 0.562);
  border-radius: 20px;
}

.modal ::-webkit-scrollbar-button {
  display: none;
} */
