.weekPage{
    display: flex;
    height: 100%;
}

.weekPageEmpty{
    flex: 1;
    display: flex; 
    justify-content: space-between;
    position: relative;
    top: 30px;
    /* background-color: blue; */
}

@media only screen and (max-width:1200px){
  .weekPageEmpty{
    flex-direction: column;
    align-items: center;
    height: 88vh;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 640px){
    .topbar{
      position: relative;
      left: -13px;
    }
    .weekPageEmpty{
      top: 0px;
    }
  }