.weekPage{
    display: flex;
}

.weekPageEmpty{
    flex: 1;
    display: flex; 
    justify-content: center;
    position: relative;
    top: 30px;
}

@media only screen and (max-width: 640px){
    .topbar{
      position: relative;
      left: -13px;
    }
    .weekPageEmpty{
      top: 0px;
    }
  }