.eachTodo {
  display: flex;
  /* padding-left: 55px; */
  /* width: 100%; */
  justify-content: flex-start;
  position: relative;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 10px;
}

.laptopTodo:hover{
  background-color: rgba(0, 0, 0, 0.164);
  cursor: pointer;
  /* flex:1; */
}

.phoneTodo{
  background-color: rgba(0, 0, 0, 0.164);
  cursor: pointer;
  border-radius: 10px;
}

.eachTodoTaskName {
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 24px;
  font-style: italic;
  line-height: 36px;
  margin: 10px 5px 10px 5px;
  width: 100%;
  display: inline-block;
  word-break: break-word;
  height: auto;
  /* background-color: blue; */
}


.highPriority {
  color: #ff5151;
}

.mediumPriority {
  color: #7885fb;
}

.lowPriority {
  color: #20e734;
}
.noPriority {
  color: rgba(198, 196, 196, 0.61);
}

.finishedTodo{
  text-decoration: line-through;
  color: #474747;
}

.todoTime{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: rgba(115, 110, 110, 0.68);
  margin-left: 15px;
  position: absolute;
  right: 10px;
  /* margin-right: 15px; */
}

.dailyPageEmpty .todoTime{
  /* right: 40px; */
}

.weekPageEmpty .todoTime{
  width: 95px;
  /* right: 37px; */
}

.monthPageEmpty .todoTime{
  width: 85px;
  right: 0px;
}
.thisIsYear .todoTime{
  /* right: 50px; */
}
 
.MuiButtonBase-root{
  justify-self: center;
  /* align-self: flex-end; */
}

.todoTime + .MuiButtonBase-root{
  visibility: hidden;
  position: absolute;
  right: 0;
}

.noTodoTime + .MuiButtonBase-root{
  visibility: hidden;
}

.laptopTodo:hover .todoTime+.MuiButtonBase-root{
  visibility: visible;
}

.laptopTodo:hover .noTodoTime+.MuiButtonBase-root{
  visibility: visible;
}

.phoneTodo .noTodoTime+.MuiButtonBase-root{
  visibility: visible;
}

.phoneTodo .todoTime+.MuiButtonBase-root{
  visibility: hidden;
}

.laptopTodo:hover .todoTime+.MuiButtonBase-root{
  visibility: hidden;
}

.MuiTypography-root{
  font-family: "Poppins" !important;
  font-weight: 400 !important;
}

.MuiButton-label{
  font-family: "Poppins" !important;
  font-weight: 600 !important;
}

@media only screen and (max-width:600px){
  .eachTodoTaskName{
    font-size: 5vw;
    line-height: 8vw;
    /* background-color: blue; */
  }
  .todoTime{
    right: 10px;
  }
  .dailyPageEmpty .todoTime{
    right: 0px;
  }
  .weekPageEmpty .todoTime{
    width: 60px;
  }
  .monthPageEmpty .todoTime{
    width: 50px;
    right: 5px;
  }
  .thisIsYear .todoTime{
    /* background-color: blue; */
    width: 20px;
    right: 15px;
  }
}

@media only screen and (max-width:450px){
  .todoTime{
    font-size: 10px;
    width: 60px;
  }
}

/* @media only screen and (hover: none) and (pointer: coarse){
  .todoTime + .MuiButtonBase-root{
    visibility: visible;
  }
} */