.eachTodo {
  display: flex;
  /* padding-left: 55px; */
  /* width: 85%; */
  justify-content: flex-start;
}

.eachTodo:hover{
  background-color: rgba(0, 0, 0, 0.164);
  cursor: pointer;
  border-radius: 10px;
  flex:1;
}

.eachTodoTaskName {
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 26px;
  font-style: italic;
  line-height: 60px;
  margin-left: 10px;
}

.highPriority {
  color: #ff5151;
}

.mediumPriority {
  color: #e6e958;
}

.lowPriority {
  color: #20e734;
}
.noPriority {
  color: rgba(198, 196, 196, 0.61);
}

.finishedTodo{
  text-decoration: line-through;
  color: #474747;
}

.MuiButtonBase-root{
  justify-self: center;
  /* align-self: flex-end; */
}

.MuiPaper-root{
  background-color: #b0c1ff;
}

.eachTodoTaskName + .MuiButtonBase-root{
  visibility: hidden;
}

.eachTodo:hover .MuiButtonBase-root{
  visibility: visible;
} 