button:hover {
  transform: none;
}

.dailyPage {
  display: flex;
}

.dailyPageEmpty {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -5px;
}
