button:hover {
  transform: none;
}

.dailyPage {
  display: flex;
}

.dailyPageEmpty {
  flex: 1;
  display: flex;
  justify-content: space-between;
  position: relative;
  /* background-color: blueviolet; */
  top: 30px;
  align-items: flex-start;
}


@media only screen and (max-width:1200px){
  .dailyPageEmpty{
    flex-direction: column;
    height: 86vh;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 640px){
  .dailyPageEmpty{
    top: 15px;
  }
}