button:hover {
  transform: none;
}

.dailyPage {
  display: flex;
}

.dailyPageEmpty {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

@media only screen and (max-width: 640px){
  .dailyPageEmpty{
    top: -15px;
  }
}