.navbar{
    display: flex;
    align-items: center;
}

.conquerText{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    color: #A981FF;
    text-decoration: none;
}

.logoutText{
    font-family: Poppins;
    font-weight: 400;
    color:white;
    position: absolute;
    font-size: 25px;
    right: 0;
    margin-right: 30px;
    cursor: pointer;
}

@media only screen and (max-width:600px){
    .navbar{
        justify-content:center;
    }
    .conquerText{
        font-size: 12vw;
    }
    .conquerLogo{
        width: 22vw;
        height: 22vw;
    }
    .logoutText{
        bottom: 0;
    }
}