.friendsPageContent {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friendsPageTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.addFriendsTagline {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  color: #c6c4c4;
  margin-top: 10px;
  margin-bottom: 10px;
}

.addFriendsButton {
  font-family: Poppins;
  font-weight: 600;
  font-size: 28px;
  color: #eada76;
  text-transform: none;
}

.friendsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 12px;
}

.noFriendsText {
  font-family: Poppins;
  font-weight: 500;
  font-size: 23px;
  color: #ffc0cb;
}

.friendsText {
  font-family: Poppins;
  font-weight: 500;
  font-size: 23px;
  color: #c6c4c4;
}

.friendsList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.089);
  max-height: 300px;
  border-radius: 10px;
}
