.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.actualLoading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadingText {
  color: #fff;
  font-family: Poppins;
  font-weight: 500;
  font-size: 30px;
}
