.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  /* background-color: rgb(137, 137, 189); */
  place-items: center;
}

.incompleteTodosSidebar .loading{
  width: 30%;
}

.actualLoading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadingText {
  color: #fff;
  font-family: Poppins;
  font-weight: 500;
  font-size: 30px;
}

@media only screen and (max-width:1200px){
  .allTodosCont .loading{
    position: relative;
    top: 40px;
    right: 20px;
  }
}