body {
  margin: 0;
  box-sizing: border-box;
  background-color: #1A1A2E;
}

button {
  border:none;
}

button:focus {
  outline: none;
}

input,textarea {
  border: none;
}

input:focus, textarea:focus {
  outline: none;
}

*{
  margin:0px;
}

button {
  transition: transform 0.1s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.025);
}