.incompleteTodosSidebar {
  width: 40%;
  background-color: black;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  /* border-radius: 30px; */
  height: 470px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  overflow-y: scroll;
}

.allTodosPage .incompleteTodosSidebar{
  width: 41%;
}

.incompleteTodosCont{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noIncompleteTodos {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  position: relative;
  left: 26px;
  top: 15px;
  font-size: 25px;
  color: #ffffff;
}

.incompleteTodosSidebar .noTodosMessage{
  position: relative;
  top: 45%;
  /* left: 23px;  */
  font-size: 27px;
  color: #86FF7B;
}

.inCompleteTodos{
  margin-top: 30px;
  width: 97%;
}

.inCompleteTodos .eachTodo:hover{
  background-color: rgba(255, 255, 255, 0.096);
}


@media only screen and (max-width:1200px){
  .incompleteTodosSidebar{
    width: 80%;
    border-radius: 20px;
    height: 35vh;
    margin-top: 20px;
    position: absolute;
    top: 60vh;
  }
  .allTodosPage .incompleteTodosSidebar{
    width: 80%;
    margin-top: 25px;
  }
  .inCompleteTodos{
    width: 80%;
  }
  .noIncompleteTodos{
    left: 0;
  }
}

@media only screen and (max-width:800px){
  .incompleteTodosSidebar{
    width: 90%;
  }
  .inCompleteTodos{
    width: 100%;
  } 
}

@media only screen and (max-width:600px){
  .incompleteTodosSidebar{
    top: 60vh;
    width: 100%;
    right: 20px;
  }
  .inCompleteTodos .eachTodoTaskName{
    font-size: 4vw;
  }
  .allTodosPage .incompleteTodosSidebar{
    width: 100%;
  }
  .calendar + .incompleteTodosSidebar{
    right: 25px;
  }
}

@media only screen and (max-width:450px){
  .incompleteTodosSidebar{
    top: 55vh;
    height: 30vh;
    z-index: 4;
  }
  .noIncompleteTodos{
    font-size: 20px;
  }
  .incompleteTodosSidebar .noTodosMessage{
    font-size: 5.3vw;
  }
}