.monthPage {
  display: flex;
}

.monthPageEmpty {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 30px;
}


@media only screen and (max-width: 600px) {
  .monthPageEmpty{
    top: -5px;
  }
}
