.monthPage {
  display: flex;
}

.monthPageEmpty {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 30px;
}

@media only screen and (max-width:1200px){
  .monthPageEmpty{
    flex-direction: column;
    height: 88.4vh;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 600px) {
  .monthPageEmpty{
    top: -5px;
  }
}
