.monthPage {
  display: flex;
}

.monthPageEmpty {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 20px;
}

.monthPageEmpty .MuiSelect-root {
  font-family: Poppins !important;
  font-weight: 500 !important;
  font-size: 26px !important;
  color: #ffffff !important;
  position: relative !important;
  top: 7px !important;
}

.monthPageEmpty .MuiSvgIcon-root {
  color: white;
}

.monthPageEmpty .MuiInput-underline::before,
.monthPageEmpty .MuiInput-underline::after {
  border-bottom: none !important;
}

.MuiMenu-paper {
  max-height: 400px !important;
}

::-webkit-scrollbar {
  width: 0px !important;
}

@media only screen and (max-width: 640px) {
  .weekPageEmpty {
    /* top: -15px; */
  }
}
